files: ^(?:scripts/)
repos:
-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
    - id: black
      language_version: python3
      args:
        - --target-version=py310
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-ast
-   repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (python)
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  -   id: detect-secrets
      args: ['--disable-plugin', 'HexHighEntropyString',
        '--disable-plugin', 'Base64HighEntropyString']
      exclude: tests/keys/rsa256
- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.12.0-2
  hooks:
    - id: shfmt         # prebuilt upstream executable
      args: ['-w', '-i', '2']  # Indent with 2 spaces, not tabs
